! vim: set filetype=xdefaults :

!-- fonts
URxvt.font: xft:DejaVu Sans Mono for Powerline:style=Book:pixelsize=12
URxvt.boldFont: xft:DejaVu Sans Mono for Powerline:style=Book:pixelsize=12

!URxvt*font: xft:Anonymous Pro for Powerline:pixelsize=12
!URxvt*boldFont: xft:Anonymous Pro for Powerline:style=bold:pixelsize=12

!urxvt*font: xft:Source Code Pro for Powerline:style=medium:pixelsize=12
!urxvt*boldFont: xft:Source Code Pro for Powerline:style=bold:pixelsize=12

!URxvt.font: xft:Inconsolata for Powerline:style=Medium:pixelsize=12
!URxvt.boldFont: xft:Inconsolata for Powerline:style=Bold:pixelsize=12

!URxvt.font: xft:Terminess Powerline:style=Regular:pixelsize=12
!URxvt.boldFont: xft:Terminess Powerline:style=Bold:pixelsize=12

!urxvt*font: -*-lemon-*-r-normal-*-*-100-*-*-*-*-*-*

!URxvt*font: -misc-orp-medium-r-*--*-*-*-*-*-*-iso10646-1
!URxvt*boldFont: -misc-orp-bold-r-*--*-*-*-*-*-*-iso10646-1

!URxvt*letterSpace: -1

!Xft.dpi: 96
!Xft.dpi: 101
Xft.rgba: rgb
Xft.pixelsize: 12
!Xft.hinting: true
!Xft.antialias: true
!Xft.hintstyle: hintslight
!Xft.lcdfilter:  lcddefault
!Xft.hintstyle:  hintfull

!URxvt*geometry: 100x25

!URxvt*loginShell: true
URxvt.internalBorder: 8
URxvt.borderColor: #111113
URxvt.borderless: true
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1
URxvt.keysym.C-Delete: perl:matcher:last
URxvt.keysym.M-Delete: perl:matcher:list
URxvt.colorUL: #4682B4
URxvt.scrollBar: false

*foreground: #D7D0C7
*background: #151515

!black
! *color0:     #AF875F
! *color8:     #AF875F
*color0:     #101010
*color8:     #404040
!red
*color1:     #E84F4F
*color9:     #D23D3D
!green
*color2:     #B8D68C
*color10:    #A0CF5D
!yellow
*color3:     #E1AA5D
*color11:    #F39D21
!blue
*color4:     #7DC1CF
*color12:    #4E9FB1
!magenta
*color5:     #9B64FB
*color13:    #8542FF
!cyan
*color6:     #6D878D
*color14:    #42717B
!white
*color7:     #dddddd
*color15:    #dddddd

URxvt*borderColor:        #151515
URxvt*colorBD:            #ffffff
URxvt*cursorColor:        #ff8939
URxvt*cursorColor2:       #151515
