! ┌─────────────────────────────────────────┐
! │░█░█░█▀▄░█▀▀░█▀▀░█▀█░█░█░█▀▄░█▀▀░█▀▀░█▀▀░│
! │░▄▀▄░█▀▄░█▀▀░▀▀█░█░█░█░█░█▀▄░█░░░█▀▀░▀▀█░│
! │░▀░▀░▀░▀░▀▀▀░▀▀▀░▀▀▀░▀▀▀░▀░▀░▀▀▀░▀▀▀░▀▀▀░│
! └─────────────────────────────────────────┘
! Author : Roosta <mail@roosta.sh>
! Site   : http://dotfiles.roosta.sh
! Github : https://github.com/roosta
! ----------------------------------------

#include ".Xresources.d/fonts.xresources"
#include ".Xresources.d/urxvt.xresources"
#include ".Xresources.d/xscreensaver.xresources"
#include ".Xresources.d/srcery.xresources"
#include ".Xresources.local"

!Xcursor.theme: Numix-Cursor

! vim:ft=xdefaults:ts=2:sw=2:fdm=marker
