! ┌─────────────────────────────────────────┐
! │░█░█░█▀▄░█▀▀░█▀▀░█▀█░█░█░█▀▄░█▀▀░█▀▀░█▀▀░│
! │░▄▀▄░█▀▄░█▀▀░▀▀█░█░█░█░█░█▀▄░█░░░█▀▀░▀▀█░│
! │░▀░▀░▀░▀░▀▀▀░▀▀▀░▀▀▀░▀▀▀░▀░▀░▀▀▀░▀▀▀░▀▀▀░│
! └─────────────────────────────────────────┘
! Roosta <mail@roosta.sh>
! https://github.com/roosta/etc
! ----------------------------------------

#include ".Xresources.d/fonts.xresources"
#include ".Xresources.d/srcery.xresources"
#include ".Xresources.local"

!Xcursor.theme: Numix-Cursor

! vim:ft=xdefaults:ts=2:sw=2:fdm=marker
