/**
┌───────────────────────────────────────────┐
│ ┓ ┳┳━┓┓ ┳┳━┓┳━┓┳━┓  ┓━┓┏┓┓┓ ┳┳  ┳━┓       │
│ ┃┃┃┃━┫┗┏┛┃━┃┃━┫┃┳┛  ┗━┓ ┃ ┗┏┛┃  ┣━        │
│ ┗┻┇┛ ┇ ┇ ┇━┛┛ ┇┇┗┛  ━━┛ ┇  ┇ ┇━┛┻━┛       │
└───────────────────────────────────────────┘
- Maintainer: Daniel Berg <mail@roosta.sh>  -
- Repo: https://github.com/roosta/etc       -
---------------------------------------------
**/

/* https://github.com/srcery-colors/srcery-gui/blob/master/gtk/srcery.css */
@import url("../../src/srcery-gui/gtk/srcery.css");

* {
  /* https://github.com/be5invis/Iosevka */
  font-family:  Iosevka, Symbols Nerd Font, Roboto, Helvetica, Arial, sans-serif;
}

/* Bar, outputs */
window#waybar {
  color: @srcery-bright-white;
  background: @srcery-xgray2;
}

window#waybar.quaternary * {
  font-size: 1.5rem;
}

window#waybar.hidden {
  opacity: 0.2;
}

/* Groups */
#window,
#indicators,
#audio,
#meters {
  margin: 4px 2px;
  padding: 0 8px;
  border-radius: 2px;
  background: @srcery-xgray4;
}

/* items */
#backlight,
#battery,
#clock,
#cpu,
#custom-media,
#custom-notification,
#custom-rofi
#disk,
#idle_inhibitor,
#keyboard-state,
#language,
#memory,
#mode,
#network,
#privacy,
#pulseaudio,
#scratchpad,
#temperature,
#tray,
#wireplumber {
  padding: 0 2px;
  margin: 0px 4px;
  color: @srcery-bright-white;
}


button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  /* background: inherit; */
  /* box-shadow: inset 0 -3px #ffffff; */
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

/* Hyprland: {{{ */

window#waybar #window {
  color: @srcery-bright-white;
  font-size: 0.75rem;
}

#workspaces {
  margin: 4px 2px;
}

#workspaces button {
  padding: 2px 8px 0px 8px;
  margin: 0 2px 0px 2px;
  color: @srcery-white;
  border-radius: 2px;
  font-size: 1rem;
}

#workspaces button.active:hover, button.visible:hover {
  background: @srcery-xgray3;
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.active {
  background: @srcery-xgray4;
  color: @srcery-bright-magenta;
}


#workspaces button.urgent {
  color: @srcery-yellow;
}

window#waybar #submap {
  background-color: @srcery-white;
  color: @srcery-black;
}

/* window#waybar.fullscreen { */
/*   background: @srcery-xgray1; */
/* } */


/* }}} */
/* Indicators: {{{  */

#privacy { }
#network { }
#idle_inhibitor { }

#indicators {
  background: @srcery-xgray4;
}

#network.disconnected {
  color: @srcery-bright-orange;
  font-weight: bold;
}


#idle_inhibitor:hover {
  background-color: @srcery-xgray3;
}

#idle_inhibitor.activated {
  color: @srcery-magenta;
}

#privacy-item {
  color: @srcery-bright-white;
}

#privacy-item.screenshare {
  color: @srcery-bright-orange;
}

#privacy-item.audio-in {
  color: @srcery-yellow;
}

#privacy-item.audio-out {
}

#custom-notification {
}

#custom-notification:hover {
  background-color: @srcery-xgray3;
}

/* }}} */
/* Menus: {{{ */

#custom-power {
  color: @srcery-bright-white;
}

#power-delimiter {
  background-color: @srcery-bright-white;
}

#custom-power:hover {
  background-color: @srcery-xgray3;
}

#custom-rofi {
  border-radius: 2px;
  padding: 0px 8px;
  margin: 4px 0 4px 4px;
}
#custom-rofi:hover {
  background-color: @srcery-xgray4;
}

/* }}} */
/* Clock {{{ */

#clock {
  font-size: 0.8rem;
}

#clock:hover {
  background-color: @srcery-xgray3;
}

/* }}} */
/* Audio: {{{ */

#audio { }
#pulseaudio { }

#pulseaudio:hover {
  background-color: @srcery-xgray3;
}

#pulseaudio.module.output.muted {
  color: @srcery-orange;
  /* padding-right: 2px; */
}

#pulseaudio.module.input.source-muted {
  color: @srcery-bright-yellow;
}

#pulseaudio-slider {
  padding: 0;
}

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-height: 10px;
  min-width: 80px;
  border-radius: 2px;
  background-color: @srcery-black;
}

#pulseaudio-slider highlight {
  min-width: 10px;
  border-radius: 2px;
  background-color: @srcery-bright-green;
}

/* }}} */
/* Keyboard {{{ */

#language { }

#language:hover {
  background: @srcery-xgray3;
}

#language > label {
  color: @srcery-bright-blue;
}

#language.no:hover {
  background: @srcery-xgray3;
}

#keyboard-state {
  color: @srcery-bright-white;
  font-size: 1.4em;
}

#keyboard-state > label {
}

#keyboard-state > label.locked {
  color: @srcery-yellow;
}

/* }}} */
/*  Meters {{{ */

#meters {
  margin-right: 4px;

}
#temperature { }

#temperature.critical {
  color: @srcery-red;
}

#cpu {
  color: @srcery-bright-blue;
}

#memory {
  color: @srcery-bright-green;
}

/* }}} */
/* Tray: {{{ */

#tray {
  background-color: @srcery-xgray3
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @srcery-bright-magenta;
}

/* }}} */

/* vim: set ts=2 sw=2 tw=80 fdm=marker et : */
