@import url("../../src/srcery-gui/gtk/srcery.css");

* {
    font-family:  Iosevka, Symbols Nerd Font, Roboto, Helvetica, Arial, sans-serif;
}

window#waybar.quaternary {
  font-size: 1rem;
}

window#waybar {
    color: @srcery-bright-white;
    font-size: 0.8rem;
    background: @srcery-xgray2;
}

window#waybar #window {
  color: @srcery-white;
  font-size: 0.7rem;
}

window#waybar.quaternary #window {
  font-size: 1rem;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px transparent; */
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button {
    padding: 0 5px;
    color: @srcery-bright-white;
}

#workspaces button:hover {
  background: @srcery-xgray3;
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.focused {
    background: @srcery-xgray4;
}

#workspaces button.urgent {
    background-color: @srcery-yellow;
    color: @srcery-black;
}

window#waybar #mode {
    background-color: @srcery-white;
    color: @srcery-black;
}

#custom-power {
  color: @srcery-bright-white;
  font-size: 15px;
  padding-right: 8px;
  padding-left: 8px;
}
#power-delimiter {
  background-color: @srcery-bright-white;
}

#custom-power:hover {
  background-color: @srcery-xgray3;
}

/* #mode * { */
/*   color: @srcery-black; */
/* } */

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: @srcery-bright-white;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: @srcery-xgray3;
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#cpu {
    color: @srcery-bright-white;
}

#memory {
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
}

#network.disconnected {
    color: @srcery-bright-orange;
    font-weight: bold;
}

#pulseaudio {
    color: @srcery-bright-white;
}

#pulseaudio:hover {
    background-color: @srcery-xgray3;
}

#pulseaudio.muted {
    background-color: @srcery-white;
    color: @srcery-black;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    color: @srcery-bright-white;
    background-color: transparent;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
}

#temperature.critical {
    color: @srcery-bright-orange;
    font-weight: bold;
}

#tray {
    background-color: @srcery-xgray3
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
}

#idle_inhibitor:hover {
    background-color: @srcery-xgray3;
}

#idle_inhibitor.activated {
    background-color: @srcery-white;
    color: @srcery-black;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    color: @srcery-bright-white;
    padding: 0 10px;
    font-size: 0.8rem;
    /* min-width: 16px; */
}

#language:hover {
    background: @srcery-xgray3;
}
#language.no {
    color: @srcery-bright-blue;
}

#language.no:hover {
    background: @srcery-xgray3;
}

#keyboard-state {
    color: @srcery-bright-white;
    margin: 0 5px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    color: @srcery-yellow;
}

#scratchpad {
    background: @srcery-xgray3
}

#scratchpad.empty {
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: @srcery-bright-white;
}

#privacy-item.screenshare {
    color: @srcery-bright-orange;
}

#privacy-item.audio-in {
    color: @srcery-yellow;
}

#privacy-item.audio-out {
}
