# temporary files
*tmp*
*cache*
*deprecated*
*.old
*.bak
*.*~
*.swp
.DS_Store
backup/*
/**/tmp
*.retry
*.cache

# ranger
ranger/bookmarks
ranger/colorschemes/__init__.py
ranger/colorschemes/__pycache__/**
ranger/history
ranger/tagged

# vim/perator/pentadactyl
vim/.vim/undo/*
vim/.vim/plugged/*
vim/.vim/.netrwhist
vim/backup/*
vimperator/.vimperator/info/**

# sublime text
*.last-run
SublimeGit.sublime-settings
*ca-bundle*

# shell
base-16
.bash_history
zsh/.zsh/plugins

# GUI
gtk/*/bookmarks
gtk/*/gtkfilechooser.ini

# fonts
*PragmataPro*
*Envy*

# auth
ssh/id*
ssh/known_hosts
subversion/auth/**
svn/.subversion/auth/**
gnupg/secring.gpg
gnupg/random*
gnupg/*~

# Comms
irssi/.irssi/*.pem
centerim/*/
centerim/pid
mutt/cache/*
mutt/smime/cetificates/*
mutt/smime/keys/*

# misc
**/tags
*.jar
icons/
!/inkscape/icons
*.gen
mpd/.config/mpd/mpd.log
ncmpcpp/error.log
subversion/README.txt
svn/*/README.txt

# IntelliJ
/idea/config/eval/*
idea/config/options/usage.statistics.xml
idea/config/options/statistics.application.usages.xml
idea/config/options/feature.usage.statistics.xml
idea/config/options/ClojureUsageStatistics.xml

parasiterc
gimp/*rc
gimp/tags.xml
gimp/gimpswap.*
gimp/tool-options
idea/config/options/dimensions.xml
idea/config/options/extensionsRootType.xml
idea/config/plugins/availables.xml
fasd.data
fasd.log
idea/config/options/ClojureUsageStatisticsSettings.xml
idea/config/options/recentProjects.xml
gimprc
pluginrc
extension-errors.log
inkscape/preferences.xml
ycm_build
i3/log/**
tmux/.tmux/plugins
yankring_history_v2.txt
nitrogen
*/**/fonts.dir
*/**/fonts.scale
vim/.vim/autoload
