[include]
  path = ~/.gituser
[core]
  editor = nvim
  excludesfile = ~/.globalignore
  pager = delta
[push]
  default = simple
[interactive]
    diffFilter = delta --color-only
[credential]
  helper = cache --timeout=3600
[alias]
  s         = status
  b         = branch
  c         = commit
  a         = add -A
  d         = diff
  dl        = diff -U28
  dc        = diff --cached
  wd        = diff --word-diff
  precommit = diff --cached --diff-algorithm=minimal -w
  logs      = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  logd      = log --graph --patch
  logl      = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %C(bold blue)<%an>%Creset%n%ci - %Cgreen%cr%Creset%n%s %Creset%n%n%C(white)%b%Creset' --decorate --numstat --summary
  branches  = branch -a
  tags      = tag
  stashes   = stash list
  unstage   = reset HEAD --
  discard   = checkout -- .
  uncommit  = reset --mixed HEAD~
  amend     = commit --amend
  last      = cat-file commit HEAD
  last-sha  = rev-parse --short HEAD

  # difftastic
  dlog = -c diff.external=difft log --ext-diff
  dshow = -c diff.external=difft show --ext-diff
  ddiff = -c diff.external=difft diff
[init]
  # templatedir = ~/.git_template
  defaultBranch = main
[commit]
  verbose = true
  gpgsign = true
[include]
  path = ~/.gitconfig.local
[github]
  user = roosta
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[pull]
  rebase = false

; https://github.com/dandavison/delta/blob/main/themes.gitconfig
[delta]
  xgray2 = "#303030"
  white = "#918175"
  dark-green = "#294229"
  green = "#519F50"
  red = "#EF2F27"
  dark-red = "#4F2321"
  navigate = true  # use n and N to move between diff sections
  syntax-theme = srcery
  hunk-header-decoration-style = xgray2 box ul
  hunk-header-line-number-style = white
  plus-style = syntax dark-green
  line-numbers-plus-style = green
  line-numbers-minus-style = red
  line-numbers-zero-style = white
  file-decoration-style = xgray2 underline overline
  commit-style = raw
  minus-style = syntax dark-red
  line-numbers-left-style = xgray2
  line-numbers-right-style = xgray2
  minus-emph-style = syntax dark-red

[merge]
  conflictstyle = zdiff3

