icons/

# music
mpd/.config/mpd/mpd.log
ncmpcpp/error.log

# ranger
ranger/.config/ranger/bookmarks
ranger/.config/ranger/colorschemes/__init__.py
ranger/.config/ranger/colorschemes/__pycache__/**
ranger/.config/ranger/history
ranger/.config/ranger/tagged

vimperator/.vimperator/info/**

# vim
vim/.vim/undo/*
vim/.vim/plugged/*
vim/.vim/.netrwhist
vim/backup/*

*tmp*
*cache*
*deprecated*

# sublime
*.last-run
SublimeGit.sublime-settings
*ca-bundle*

# shell
base-16
.bash_history

# gui
gtk/*/bookmarks
gtk/*/gtkfilechooser.ini

# ignore restricted fonts
*PragmataPro*
*Envy*

.*.swp
.DS_Store
backup/*

# keys
ssh/id*
ssh/known_hosts
subversion/README.txt
subversion/auth/*
gnupg/secring.gpg
gnupg/random*
gnupg/*~

centerim/*/
centerim/pid

mutt/cache/*
mutt/smime/cetificates/*
mutt/smime/keys/*

irssi/.irssi/*.pem

# svn
svn/.subversion/auth/**
svn/*/README.txt

# ctags
**/tags

# clj
*.jar

/i3/i3.config

#ansible

*.gen

# backup files
*.old
*.bak
*.*~

/**/tmp
gimp/sessionrc*

/idea/config/eval/*
gimp/gimpswap.15497
