! ┌─────────────────────────────────────────┐
! │░█░█░█▀▄░█▀▀░█▀▀░█▀█░█░█░█▀▄░█▀▀░█▀▀░█▀▀░│
! │░▄▀▄░█▀▄░█▀▀░▀▀█░█░█░█░█░█▀▄░█░░░█▀▀░▀▀█░│
! │░▀░▀░▀░▀░▀▀▀░▀▀▀░▀▀▀░▀▀▀░▀░▀░▀▀▀░▀▀▀░▀▀▀░│
! └─────────────────────────────────────────┘
! Author : Roosta <mail@roosta.sh>
! Site   : http://dotfiles.roosta.sh
! Github : https://github.com/roosta
! ----------------------------------------

#include ".Xresources.d/fonts"
#include ".Xresources.d/urxvt"
#include ".Xresources.d/rofi"
#include ".Xresources.d/xscreensaver"
#include ".Xresources.d/16-colors"
#include ".Xresources.d/urxvt-256-colors"

!#include "colors/xcolors/dark-fantastic.xresources"
!#include "colors/xcolors/gruvbox-dark.xresources"
!#include "/home/roosta/colors/xcolors/gruvbox-urxvt256.xresources"
!Xcursor.theme: Numix-Cursor

! vim:ft=xdefaults:ts=2:sw=2:fdm=marker
