bar {
  output {{ output_tv }}
  tray_output {{ output_tv }}
  strip_workspace_numbers yes
  position top
  font {{ font_status }}
  status_command {{ status_tv }}
  separator_symbol "|"
  colors {
    {% include bar_colors.j2 %}
  }
}
# vim:ft=i3:ts=2
