bar {
  output {{ output_tertiary }}
  tray_output primary
  strip_workspace_numbers yes
  position top
  font {{ font_status }}
  status_command {{ status_tv }}
  separator_symbol "|"
    {% include 'bar_colors.j2' %}
}
