colors {
  background {{ background }}
  separator {{ background0_s }}
  statusline {{ foreground }}

  # workclass, border, background, foreground
  focused_workspace {{ background0_h }} {{ background1 }} {{ dark_blue }}
  active_workspace {{ background1 }} {{ background0_s }} {{ foreground }}
  inactive_workspace {{ background0_h }} {{ background1 }} {{ dark_gray }}
  urgent_workspace {{ dark_orange }} {{ dark_orange }} {{ black }}
}

