bar {
  output {{ display }}
  tray_output primary
  strip_workspace_numbers yes
  position top
  font {{ font_status }}
  status_command {{ command }}
  separator_symbol "|"
  colors {

    # bar
    background {{ background }}
    separator  {{ background_soft }}
    statusline {{ foreground }}

    # workclass           border                background            foreground
    focused_workspace  {{ background_hard }} {{ background1 }}     {{ dark_blue }}
    active_workspace   {{ background1 }}     {{ background_soft }} {{ foreground }}
    inactive_workspace {{ background_hard }} {{ background1 }}     {{ dark_gray }}
    urgent_workspace   {{ dark_orange }}     {{ dark_orange }}     {{ black }}
  }
}
# vim:ft=i3:ts=2
