# bar
background {{ background }}
separator  {{ background_soft }}
statusline {{ foreground }}

# workclass           border                background            foreground
focused_workspace  {{ background_hard }} {{ background1 }}     {{ dark_blue }}
active_workspace   {{ background1 }}     {{ background_soft }} {{ foreground }}
inactive_workspace {{ background_hard }} {{ background1 }}     {{ dark_gray }}
urgent_workspace   {{ dark_orange }}     {{ dark_orange }}     {{ black }}
