snippet i18n
i18n: {
	messages: {
		en: {
			${1}
		},
		no: {
			${2}
		}
	}
},
endsnippet

snippet vvbase
<template>
	<div>
	</div>
</template>

<script>
export default {
	name: "${0}",
}
</script>

<style lang="scss" scoped>

</style>
endsnippet

snippet style-scoped
<style lang="scss" scoped>
	${1}
</style>
endsnippet

snippet style-global
<style lang="scss">
	${1}
</style>
endsnippet
