"*":
  core:
    autoHideMenuBar: true
    themes: [
      "nucleus-dark-ui"
      "gruvbox"
    ]
  editor:
    fontFamily: "Essential PragmataPro"
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
  "exception-reporting":
    userId: "889e1d56-448a-375e-913f-b24dd30be1c7"
  "one-dark-ui": {}
  "vim-mode":
    useSmartcaseForSearch: true
  "vim-surround":
    surroundCommand: "S"
  welcome:
    showOnStartup: false
