/**
┌───────────────────────────────────────────┐
│ ┓ ┳┳━┓┓ ┳┳━┓┳━┓┳━┓  ┓━┓┏┓┓┓ ┳┳  ┳━┓       │
│ ┃┃┃┃━┫┗┏┛┃━┃┃━┫┃┳┛  ┗━┓ ┃ ┗┏┛┃  ┣━        │
│ ┗┻┇┛ ┇ ┇ ┇━┛┛ ┇┇┗┛  ━━┛ ┇  ┇ ┇━┛┻━┛       │
└───────────────────────────────────────────┘
- Maintainer: Daniel Berg <mail@roosta.sh>  -
- Repo: https://github.com/roosta/dotfiles  -
---------------------------------------------
**/

/* https://github.com/srcery-colors/srcery-gui/blob/master/gtk/srcery.css */
@import url("../srcery/srcery-gui/gtk/srcery.css");

* {
  /* https://github.com/be5invis/Iosevka */
  /* https://github.com/ryanoasis/nerd-fonts */
  font-family:  Iosevka, Symbols Nerd Font, Roboto, Helvetica, Arial, sans-serif;
}

/* Bar, outputs */
window#waybar {
  color: @srcery-bright-white;
  background: @srcery-black;
}

window#waybar.quaternary * {
  font-size: 1.5rem;
}

window#waybar.hidden {
  opacity: 0.2;
}


/* spacer to more easily control spacing irregularities */
#custom-gap {
  font-size: 8px;
}

box {
  margin: 2px;
}

/* Groups */
#window,
#audio,
#tray,
#submap,
#meters {
  margin: 0;
  padding: 0 6px;
  border-radius: 2px;
  background: @srcery-xgray1;
}

/* modules */
#backlight,
#battery,
#clock,
#custom-media,
#custom-power,
#custom-rofi
#idle_inhibitor,
#disk,
#keyboard-state,
#language,
#mode,
#network,
#privacy,
#pulseaudio,
#scratchpad,
#cpu,
#temperature,
#memory,
#wireplumber {
  padding: 0 4px;
  margin: 0;
  color: @srcery-bright-white;
}

button {
  border: none;
  transition-property: background-color;
  transition-duration: 0.2s;
}

@keyframes blink {
  to {
    background-color: @srcery-xgray4;
  }
}

tooltip {
  background: @srcery-xgray2;
  border-radius: 2px;
  border: 1px solid @srcery-xgray2;
}

tooltip label {
  color: @srcery-bright-white;
}

/* Hyprland: {{{ */
/* -------------------------------------------------------------------------- */
window#waybar #window {
  font-size: 0.75rem;
  background: none;
}

window#waybar.empty #window {
  background: transparent;
  padding: 0;
  margin: 0;
}

/* Remove padding for empty workspace buttons */
window#waybar.empty #workspaces button.empty,
window#waybar.empty #workspaces button.persistent.empty {
  padding-right: 2px;
  padding-top: 0;
}

/* Remove spacing margin for last and first child to avoid double up padding */
#workspaces button:first-child {
  margin-left: 0;
}
#workspaces button:last-child {
  margin-right: 0;
}

#workspaces {
  margin: 0px;
}

#workspaces button {
  padding: 2px 8px 0px 8px;
  margin: 0 2px;
  background-color: @srcery-xgray1;
  color: @srcery-white;
  border-radius: 2px;
  font-size: 1rem;
}

#workspaces button.active {
  background: @srcery-xgray2;
}
#workspaces button:hover {
  background: @srcery-xgray2;
}

#workspaces button.active:hover, button.visible:hover {
  background: @srcery-xgray3;
}

#workspaces button.active {
  background: @srcery-xgray2;
  color: @srcery-bright-magenta;
}


#workspaces button.urgent {
  color: @srcery-yellow;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

window#waybar #submap {
  font-size: 0.8rem;
  background-color: @srcery-black;
  color: @srcery-bright-white;
}

/* window#waybar.fullscreen { */
/*   background: @srcery-xgray1; */
/* } */


/* }}} */
/* Indicators: {{{  */
/* -------------------------------------------------------------------------- */

#privacy { }
#network { }
#indicators * {
  padding: 0 2px;
}

#network.disconnected {
  color: @srcery-bright-orange;
  font-weight: bold;
}

#privacy-item {
  color: @srcery-bright-white;
}

#privacy-item.screenshare {
  color: @srcery-bright-orange;
}

#privacy-item.audio-in {
  color: @srcery-yellow;
}

#privacy-item.audio-out {
}

#language {
  color: @srcery-yellow;
}

#keyboard-state {
  color: @srcery-bright-white;
}

#keyboard-state > label {
}

#keyboard-state > label.locked {
  color: @srcery-yellow;
}

#systemd-failed-units {
  color: @srcery-bright-red;
  font-weight: bold;
  margin-left: 0.5rem;
}

/* }}} */
/* Buttons: {{{ */
/* -------------------------------------------------------------------------- */

#idle_inhibitor {
  font-size: 0.8rem;
}

#idle_inhibitor.activated {
  color: @srcery-magenta;
  font-size: 1rem;
  font-weight: bold;
}


#idle_inhibitor:hover {
  background-color: @srcery-xgray3;
}

#custom-power {
  margin: 0;
}

#power-delimiter {
  background-color: @srcery-bright-white;
}

#custom-rofi {
  margin: 0;
}

#idle_inhibitor {
  margin: 0;
}

#custom-notification {
  margin: 0;
}

#custom-rofi,
#custom-power,
#custom-notification,
#idle_inhibitor {
  border-radius: 2px;
  padding: 0px 8px;
  background-color: @srcery-xgray1;
}

#custom-rofi:hover, #custom-power:hover, #custom-notification:hover, #idle_inhibitor:hover {
  background-color: @srcery-xgray3;
  transition-property: background-color;
  transition-duration: 0.2s;
}

#custom-notification {
}


/* }}} */
/* Clock {{{ */
/* -------------------------------------------------------------------------- */

#datetime {
}

#click.module.time {
  font-size: 0.8rem;
}

#clock.module.weekday {
  font-size: 0.8rem;
  color: @srcery-white;
}

#clock.module.date {
  font-size: 0.8rem;
  color: @srcery-white;
}

#clock { }


/* }}} */
/* Audio: {{{ */
/* -------------------------------------------------------------------------- */

#audio { }
#pulseaudio { }

#pulseaudio:hover {
  background-color: @srcery-xgray3;
}

#pulseaudio.module.output.muted {
  color: @srcery-orange;
}

#pulseaudio.module.input.source-muted {
  color: @srcery-bright-yellow;
}

#pulseaudio-slider {
  padding: 0 4px;
}

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-height: 10px;
  min-width: 80px;
  border-radius: 2px;
  background-color: @srcery-black;
}

#pulseaudio-slider highlight {
  min-width: 10px;
  border-radius: 2px;
  background-color: @srcery-bright-green;
}

/* }}} */
/*  Meters {{{ */
/* -------------------------------------------------------------------------- */

#meters * {
  padding: 0 4px;

}
#meters {
  font-size: 1.2rem;
}
#temperature {
  color: @srcery-bright-blue;
  padding-left: 2px;

}

#temperature.critical {
  color: @srcery-red;
}

#cpu {
  color: @srcery-bright-green;
}

#memory {
  color: @srcery-bright-cyan;
  padding-left: 0;
  font-size: 1.3rem;
}

/* }}} */
/* Tray: {{{ */
/* -------------------------------------------------------------------------- */

#tray { }

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @srcery-bright-magenta;
}

/* }}} */

/* vim: set ts=2 sw=2 tw=80 fdm=marker et : */
