# vim:ft=i3:ts=2:sw=2
# ┌───────────────────────────────────┐
# │▀▀▀░░░░░░░▀█▀░▀▀█░█░█░█▄█░░░░░░░▀▀▀│
# │▀▀▀▀▀░░░░░░█░░░▀▄░█▄█░█░█░░░░░▀▀▀▀▀│
# │▀▀▀▀▀▀▀░░░▀▀▀░▀▀░░▀░▀░▀░▀░░░▀▀▀▀▀▀▀│
# │▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀│
# │ Author: Roosta <mail@roosta.sh>   │
# │ Site  : http://dotfiles.roosta.sh │
# │ Github: https://github.com/roosta │
# └────────┬──────────────────────────┘
# Sources: │
# ┌────────┘
# │ http://i3wm.org/docs/user-contributed/lzap-config.html
# │ http://dotshare.it (picked from various i3 confs, color schemes..etc)
# ┆
#

# ┐ ┬┬─┐┬─┐o┬─┐┬─┐┬  ┬─┐┐─┐
# │┌┘│─┤│┬┘││─┤│─││  ├─ └─┐
# └┘ ┘ ┆┆└┘┆┘ ┆┆─┘┆─┘┴─┘──┘

# fast way to reach power settings for system. Requires polkit.
set $locker xscreensaver-command --lock

# TODO: fix script
# ~~~Have to call a script to open urxvt in tmux. See script for details~~~
# tmux new-session -n$USER -s$USER@$HOSTNAME
set $tmux_attach urxvtc -e bash -c "tmux -q has-session && exec tmux attach-session -d || exec tmux new-session"
set $tmux_new urxvtc -e bash -c "tmux new-session"

# set scrot/screenshot file arguments
set $screenshot "$HOME/Pictures/screenshots/screenshot_$(date +%Y-%m-%d@%H-%M-%S).png"

set $fullreload urxvtc -e bash -c "ansible-playbook $HOME/.dotfiles/dotfiles.yml i3 && i3-msg reload"

# ┬─┐┬ ┐┌┐┐┌─┐┐─┐┌┐┐┬─┐┬─┐┌┐┐
# │─┤│ │ │ │ │└─┐ │ │─┤│┬┘ │
# ┘ ┆┆─┘ ┆ ┘─┘──┘ ┆ ┘ ┆┆└┘ ┆

#exec urxvtc
exec $tmux_attach
#exec --no-startup-id "i3-msg 'workspace 5S:Comms; append_layout ~/.i3/workspace/comms_ws.json'"
#exec firefox
#exec thunderbird
#exec pidgin
#exec spotify
#exec steam

# ┐ ┬┌─┐┬─┐┬┌ ┐─┐┬─┐┬─┐┌─┐┬─┐┐─┐
# ││││ ││┬┘├┴┐└─┐│─┘│─┤│  ├─ └─┐
# └┴┆┘─┘┆└┘┆ ┘──┘┆  ┘ ┆└─┘┴─┘──┘
# Numbers in front is for sorting order on i3bar.
# In each bar numbers are stripped. See bar config below.

# primary workspaces
set $PWS1_TRM "1Q:Term"
set $PWS2_DEV "2W:Devel"
set $PWS3_WWW "3E:Web"

bindsym $mod+q workspace $PWS1_TRM
bindsym $mod+w workspace $PWS2_DEV
bindsym $mod+e workspace $PWS3_WWW

bindsym $mod+Shift+q move workspace $PWS1_TRM
bindsym $mod+Shift+w move workspace $PWS2_DEV
bindsym $mod+Shift+e move workspace $PWS3_WWW

# secondary workspaces
set $SWS1_AUX "4A:Aux"
set $SWS2_COM "5S:Comms"
set $SWS3_DBG "6D:Debug"

bindsym $mod+a workspace $SWS1_AUX
bindsym $mod+s workspace $SWS2_COM
bindsym $mod+d workspace $SWS3_DBG

bindsym $mod+Shift+a move workspace $SWS1_AUX
bindsym $mod+Shift+s move workspace $SWS2_COM
bindsym $mod+Shift+d move workspace $SWS3_DBG

# Tertiary workspaces
set $TWS1_MED "7:1:Media"
set $TWS2_GAM "8:2:Games"
set $TWS3_MSC "9:3:Misc"

bindsym $mod+1 workspace $TWS1_MED
bindsym $mod+2 workspace $TWS2_GAM
bindsym $mod+3 workspace $TWS3_MSC

bindsym $mod+Shift+1 move workspace $TWS1_MED
bindsym $mod+Shift+2 move workspace $TWS2_GAM
bindsym $mod+Shift+3 move workspace $TWS3_MSC

# Auxiliary workspaces
set $FWS1 "9[F1]"
set $FWS2 "10[F2]"
set $FWS3 "11[F3]"
set $FWS4 "12[F4]"
set $FWS5 "13[F5]"
set $FWS6 "14[F6]"
set $FWS7 "15[F7]"
set $FWS8 "16[F8]"

bindsym $mod+F1 workspace $FWS1
bindsym $mod+F2 workspace $FWS2
bindsym $mod+F3 workspace $FWS3
bindsym $mod+F4 workspace $FWS4
bindsym $mod+F5 workspace $FWS5
bindsym $mod+F6 workspace $FWS6
bindsym $mod+F7 workspace $FWS7
bindsym $mod+F8 workspace $FWS8

bindsym $mod+Shift+F1 workspace $FWS1
bindsym $mod+Shift+F2 workspace $FWS2
bindsym $mod+Shift+F3 workspace $FWS3
bindsym $mod+Shift+F4 workspace $FWS4
bindsym $mod+Shift+F5 workspace $FWS5
bindsym $mod+Shift+F6 workspace $FWS6
bindsym $mod+Shift+F7 workspace $FWS7
bindsym $mod+Shift+F8 workspace $FWS8

# assign workspaces to outputs
workspace $PWS1_TRM output {{ output0 }}
workspace $PWS3_WWW output {{ output0 }}
workspace $PWS2_DEV output {{ output0 }}
workspace $SWS1_AUX output {{ output1 }}
workspace $SWS3_DBG output {{ output1 }}
workspace $SWS2_COM output {{ output1 }}

# Options
focus_follows_mouse no
new_window pixel 1
hide_edge_borders none

# ┐ ┬o┌┐┐┬─┐┌─┐┐ ┬  ┬─┐┬ ┐┬  ┬─┐┐─┐
# ││││││││ ││ ││││  │┬┘│ ││  ├─ └─┐
# └┴┆┆┆└┘┆─┘┘─┘└┴┆  ┆└┘┆─┘┆─┘┴─┘──┘

# WINDOW WORKSPACE ASSIGNMENT
# ---------------------------
# -> devel
assign [class="(?i)subl3"]               $PWS2_DEV
assign [class="(?i)jetbrains-idea"]      $SWS2_DEV
assign [class="(?i)atom"]                $PWS2_DEV
#assign [class="(?i)gimp"]                $PWS2_DEV

# -> debug
assign [class="(?i)google-chrome-beta$"] $SWS3_DBG
assign [instance="^Devtools$$"]          $SWS3_DBG

# -> www
assign [class="(?i)firefox"]             $PWS3_WWW

# -> games
assign [class="(?i)steam"]               $TWS2_GAM

# -> media
assign [class="(?i)spotify"]             $TWS1_MED
assign [class="(?i)google-chrome$"]      $TWS1_MED

# -> Comms
assign [class="(?i)pidgin"]              $SWS2_COM
assign [class="(?i)linphone"]            $SWS2_COM
assign [class="(?i)scudcloud"]           $SWS2_COM
assign [class="(?i)thunderbird"]         $SWS2_COM

# WINDOW BEHAVIOUR
# ----------------
for_window [window_role="pop-up"]                floating enable
for_window [window_role="task_dialog"]           floating enable
for_window [window_role="bubble"]                floating enable
for_window [window_role="Preferences"]           floating enable
for_window [title="Preferences$"]                floating enable
for_window [class="(?i)Jitsi"]                   floating enable
for_window [class="(?i)SessionManager"]          floating enable
for_window [title="(?i)Friends"]                 floating enable
for_window [class="(?i)Linphone"]                floating enable
for_window [title="(?i)Steam#-#Update#News(.*)"] floating enable
for_window [class="(?i)Pidgin"]                  floating enable
#for_window [class="(?i)thunderbird"]             floating enable

# WINDOW SIZE
# -----------
for_window [class="(?i)Pidgin"]                  floating_maximum_size 50 x 75

# BORDER
# ------
for_window [class="(?i)firefox"]                border none
for_window [class="(?i)google-chrome$"]         border none
for_window [class="(?i)PrisonArchitect.x86_64"] border none

# ┬┌ ┬─┐┐ ┬┬─┐o┌┐┐┬─┐┐─┐
# ├┴┐├─ └┌┘│─││││││ │└─┐
# ┆ ┘┴─┘ ┆ ┆─┘┆┆└┘┆─┘──┘

# set modkey (Super key)
set $mod Mod4

# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

bindsym $mod+Return exec $tmux_attach
bindsym $mod+Shift+Return exec $tmux_new

# kill focused window
bindsym $mod+c kill

bindsym $mod+Tab exec --no-startup-id rofi -show run
bindsym $mod+grave exec --no-startup-id rofi -show window

# focus vi bindings
bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right

bindsym $mod+Shift+h move left
bindsym $mod+Shift+j move down
bindsym $mod+Shift+k move up
bindsym $mod+Shift+l move right

# focus cursor key bindings
bindsym $mod+Left  focus left
bindsym $mod+Down  focus down
bindsym $mod+Up    focus up
bindsym $mod+Right focus right

bindsym $mod+Shift+Left  move left
bindsym $mod+Shift+Down  move down
bindsym $mod+Shift+Up    move up
bindsym $mod+Shift+Right move right

# choose split direction.
bindsym $mod+v split v
bindsym $mod+Shift+v split h
bindsym $mod+f fullscreen toggle
bindsym $mod+Control+Shift+t layout tabbed
bindsym $mod+Shift+t layout toggle split
bindsym $mod+t layout toggle
bindsym $mod+Shift+space floating toggle
bindsym $mod+space focus mode_toggle
bindsym $mod+Shift+c reload

# regenerate i3 conf and reload
bindsym $mod+Control+Shift+c exec $fullreload

# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart

# border changing
bindsym $mod+b border toggle

# scratchpad
bindsym $mod+m move scratchpad
bindsym $mod+o scratchpad show

# toggle touchpad
bindsym $mod+Shift+o exec --no-startup-id ~/bin/touchpad-toggle

# move to last workspace
bindsym $mod+z workspace back_and_forth

# move windows back and forth
bindsym $mod+Shift+z move container to workspace back_and_forth

# jump to previous workspace by hitting first ws button again
#workspace_auto_back_and_forth yes

bindsym $mod+Control+Shift+left move container to output left
bindsym $mod+Control+Shift+right move container to output right

bindsym $mod+p focus parent
bindsym $mod+Shift+p focus child

# screenshot
# source: https://github.com/Airblader/dotfiles-manjaro
bindsym --release Print exec scrot $screenshot
bindsym --release Shift+Print exec scrot -s $screenshot

# send a signal to i3blocks on caps to toggle layout
bindsym --release Caps_Lock exec pkill -SIGRTMIN+11 i3blocks

# send signal to i3blocks on volume change and update volume script.
# currently unoprable since xbindkeys hijacks these keys for reasons I haven't looked into
#bindsym 123 exec pkill -SIGRTMIN+12 i3blocks
#bindsym 122 exec pkill -SIGRTMIN+12 i3blocks
#bindsym 121 exec pkill -SIGRTMIN+12 i3blocks

# ┌┌┐┬─┐┌┐┐┬ ┐┐─┐
# │││├─ ││││ │└─┐
# ┘ ┆┴─┘┆└┘┆─┘──┘

# RESIZE
# resize windows with either vi keys or arrows.
# shift+movement shrink or grow with larger increments
set $mode_resize Resize: (directions) 10px, (Shift+directions) 30px
mode "$mode_resize" {
  # vi movement
  bindsym h resize shrink width  10 px or 10 ppt
  bindsym j resize grow   height 10 px or 10 ppt
  bindsym k resize shrink height 10 px or 10 ppt
  bindsym l resize grow   width  10 px or 10 ppt

  bindsym Shift+h resize shrink width  30 px or 30 ppt
  bindsym Shift+j resize grow   height 30 px or 30 ppt
  bindsym Shift+k resize shrink height 30 px or 30 ppt
  bindsym Shift+l resize grow   width  30 px or 30 ppt

  # assign the same for arrows
  bindsym Left resize shrink width  10 px or 10 ppt
  bindsym Down resize grow   height 10 px or 10 ppt
  bindsym Up resize shrink   height 10 px or 10 ppt
  bindsym Right resize grow  width  10 px or 10 ppt

  bindsym Shift+Left resize shrink width  30 px or 30 ppt
  bindsym Shift+Down resize grow   height 30 px or 30 ppt
  bindsym Shift+Up resize shrink   height 30 px or 30 ppt
  bindsym Shift+Right resize grow  width  30 px or 30 ppt

  # back to normal: Enter or Escape
  bindsym Return mode "default"
  bindsym Escape mode "default"
}
bindsym $mod+r mode "$mode_resize"

# SYSTEM
# https://wiki.archlinux.org/index.php/I3#Shutdown.2C_reboot.2C_lock_screen
#set $locker i3lock --image=$HOME/.backgrounds/pattern-01.png -t && sleep 1
set $mode_system System: (l) lock, (e) logout, (s) suspend, (r) reboot, (Shift+s) shutdown
mode "$mode_system" {
  bindsym l exec --no-startup-id $locker, mode "default"
  bindsym e exec --no-startup-id i3-msg exit, mode "default"
  bindsym s exec --no-startup-id $locker && systemctl suspend, mode "default"
  bindsym r exec --no-startup-id systemctl reboot, mode "default"
  bindsym Shift+s exec --no-startup-id systemctl poweroff -i, mode "default"

  # back to normal: Enter or Escape
  bindsym Return mode "default"
  bindsym Escape mode "default"
}
# bind FN sleep key to menu
bindsym XF86Sleep mode "$mode_system"
bindsym $mod+End mode "$mode_system"

# OUTPUT
# Quickly switch output based on presets
# Script is in the submodule "scripts". Alternativly http://github.com/roosta/scripts
set $changeto ~/bin/chmon
set $mode_chmon Layout: (d) desk, (t) TV, (a) all
mode "$mode_chmon" {
  bindsym d exec --no-startup-id $changeto desk, mode "default"
  bindsym t exec --no-startup-id $changeto tv, mode "default"
  bindsym a exec --no-startup-id $changeto all, mode "default"

  # back to normal: Enter or Escape
  bindsym Return mode "default"
  bindsym Escape mode "default"
}
# bind FN home key to menu
bindsym XF86HomePage mode "$mode_chmon"
bindsym $mod+Home mode "$mode_chmon"

# ┬─┐┬─┐┬─┐┬─┐┬─┐┬─┐┬─┐┌┐┐┌─┐┬─┐
# │─┤│─┘│─┘├─ │─┤│┬┘│─┤││││  ├─
# ┘ ┆┆  ┆  ┴─┘┘ ┆┆└┘┘ ┆┆└┘└─┘┴─┘
# Generated from jinja templates with ansible.

# TODO: assign key to re-generate and reload i3 config

# set primary font
font {{ i3_font }}

# <class> <border> <background> <foreground> <indicator>
client.focused          {{ dark_blue }} {{ dark_blue }} {{ black }} {{ dark_cyan }}
client.focused_inactive {{ background1 }} {{ background0 }} {{ foreground }} {{ background0_s }}
client.unfocused        {{ dark_blue }} {{ background1 }} {{ dark_gray }} {{ dark_cyan }}
client.urgent           {{ dark_orange }} {{ dark_orange }} {{ background }} {{ dark_orange }}
client.placeholder      {{ cyan }} {{ dark_cyan }} {{ black }} {{ magenta }}

{# macro that renders status bars based on host spesific variables as args #}
{% macro render_bar(_id, _output, _status, _tray='primary') %}
bar {
  id {{ _id }}
  output {{ _output }}
  status_command {{ _status }}
  font {{ i3_status_font }}
  position top
  tray_output {{ _tray }}
  strip_workspace_numbers yes
  separator_symbol "|"
  colors {
    background {{ background }}
    separator  {{ background0_s }}
    statusline {{ foreground }}

    # <workclass> <border> <background> <foreground>
    focused_workspace  {{ background0_h }} {{ background1 }} {{ dark_blue }}
    active_workspace   {{ background1 }} {{ background0_s }} {{ foreground }}
    inactive_workspace {{ background0_h }} {{ background1 }} {{ dark_gray }}
    urgent_workspace   {{ dark_orange }} {{ dark_orange }} {{ black }}
  }
}
{% endmacro %}

{# call on render_bar macro and use variables defined in ../host_vars #}
{%- if ansible_hostname == "lintilla" %}
{{ render_bar("bar-0", output0, status0, output0) }}
{{ render_bar("bar-1", output1, status1) }}
{{ render_bar("bar-2", output2, status2) }}
{% endif -%}

{%- if ansible_hostname == "allitnil" %}
{{ render_bar("bar-0", output0, status0, output0) }}
{{ render_bar("bar-1", output1, status1, output1) }}
{% endif -%}

# vim:ft=i3:ts=2:sw=2

