source ~/.vimrc
set mapleader = '\'
"set matchpairs

"nmap <leader><leader>p cursive.actions.paredit/toggle<CR>
map Tab EditorCompleteStatement

nmap gcc :action CommentByLineComment<CR>
vmap gc :action CommentByLineComment<CR>
" slurp/barf
nmap <leader>> :action cursive.actions.paredit/barf-forwards<CR>
nmap <leader>< :action cursive.actions.paredit/barf-backwards<CR>
nmap <leader>> :action cursive.actions.paredit/slurp-forwards<CR>
nmap <leader>< :action cursive.actions.paredit/slurp-backwards<CR>

" set wrap commands both ways
vmap S{ :action cursive.actions.paredit/wrap-curly<CR>
vmap S} :action cursive.actions.paredit/wrap-curly<CR>
vmap S( :action cursive.actions.paredit/wrap-paren<CR>
vmap S) :action cursive.actions.paredit/wrap-paren<CR>
vmap S" :action cursive.actions.paredit/wrap-quotes<CR>
vmap S[ :action cursive.actions.paredit/wrap-square<CR>
vmap S] :action cursive.actions.paredit/wrap-square<CR>
