[Unit]
Description=Lock the screen automatically after a timeout

[Service]
Type=simple
User=meskarune
Environment=DISPLAY=:0
ExecStart=/usr/bin/xautolock -time 5 -locker /home/roosta/bin/locker -detectsleep

[Install]
WantedBy=graphical.target
