#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=YouTube
Exec=/opt/google/chrome-beta/google-chrome-beta --user-data-dir=/home/daniel/.config/google-chrome-beta "--profile-directory=Profile 1" --app-id=blpcfgokakmgnkcojhhkbfbldkacnbeo
Icon=chrome-blpcfgokakmgnkcojhhkbfbldkacnbeo-Profile_1
NoDisplay=true
StartupWMClass=crx_blpcfgokakmgnkcojhhkbfbldkacnbeo
