[Desktop Entry]
Type=Application
TryExec=alacritty
Exec=env WINIT_X11_SCALE_FACTOR=1 alacritty
Icon=Alacritty
Terminal=false
Categories=System;TerminalEmulator;

Name=Alacritty scaled
GenericName=Terminal
Comment=Alacritty but scaled down for hd displays (1080p)
StartupWMClass=Alacritty

