[Desktop Entry]
Version=1.0
Name=Dirac
GenericName=Web Browser
StartupWMClass=google-chrome-unstable
Exec=/usr/bin/google-chrome-unstable --remote-debugging-port=9222 --no-first-run --user-data-dir=/home/roosta/.config/dirac %U
Terminal=false
Icon=google-chrome-unstable
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
