[Desktop Entry]
Name=Firefox Developer DPI Scaled
GenericName=Web Browser
Comment=Firefox scaled down when using multiple monitors with varying resolutions
Icon=/opt/firefox-developer/browser/icons/mozicon128.png
Type=Application
Categories=Network;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;x-scheme-handler/chrome;
Exec=env GDK_DPI_SCALE=0.5 firefox-developer --class=firefox-developer %u
Terminal=false
X-MultipleArgs=false
StartupNotify=true
