[Desktop Entry]
Version=1.0
Name=Firefox Developer Edition DPI
GenericName=Web Browser
Exec=env GDK_DPI_SCALE=0.5 /usr/lib/firefox-developer-edition/firefox %u
Icon=firefox-developer-edition
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
StartupWMClass=Firefox Developer Edition
Categories=Network;WebBrowser;
Keywords=web;browser;internet;
Actions=new-window;new-private-window;
