[Desktop Entry]
Version=1.0
Name=Google media
GenericName=Web Browser
StartupWMClass=Google-chrome
Exec=/usr/bin/google-chrome-stable --force-device-scale-factor=1 %U
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
Actions=NewWindow;NewPrivateWindow;

[Desktop Action NewWindow]
Name=New Window
StartupWMClass=Google-chrome
Exec=/usr/bin/google-chrome-stable --force-device-scale-factor=1

[Desktop Action NewPrivateWindow]
Name=New Incognito Window
StartupWMClass=Google-chrome
Exec=/usr/bin/google-chrome-stable --incognito --force-device-scale-factor=1
