[Desktop Entry]
Version=1.0
Name=Chrome dev
StartupWMClass=Google-chrome-unstable
Exec=/usr/bin/google-chrome-unstable %U --force-device-scale-factor=1
Terminal=false
Icon=google-chrome-unstable
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
Actions=NewWindow;NewPrivateWindow;

[Desktop Action NewWindow]
Name=New Window
StartupWMClass=Google-chrome-unstable
Exec=/usr/bin/google-chrome-unstable

[Desktop Action NewPrivateWindow]
Name=New Incognito Window
StartupWMClass=Google-chrome-unstable
Exec=/usr/bin/google-chrome-unstable --incognito
