[Desktop Entry]
Name=Transmission Scaled
Comment=Transmission scaled down when using multiple monitors with varying resolutions
Exec=env GDK_DPI_SCALE=0.5 transmission-gtk %U
Icon=transmission
Terminal=false
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
Type=Application
TryExec=transmission-gtk
StartupNotify=true
Categories=Network;FileTransfer;P2P;GTK;
StartupNotify=true
