! disable scrollbar
URxvt.scrollBar: false

! Set patched dejavu font
URxvt.font: xft:DejaVu Sans Mono for Powerline :pixelsize=12
!urxvt*font: xft:Terminus:pixelsize=10,xft:Inconsolata\ for\ Powerline:pixelsize=10
!URxvt*font: xft:Source\ Code\ Pro\ Medium:pixelsize=12:antialias=true:hinting=true,xft:Source\ Code\ Pro\ Medium:pixelsize=12:antialias=true:hinting=true
URxvt.letterSpace: -1

! Base16 Railscasts
! Scheme: Ryan Bates (http://railscasts.com)
!#define base00 #2b2b2b
!#define base01 #272935
!#define base02 #3a4055
!#define base03 #5a647e
!#define base04 #d4cfc9
!#define base05 #e6e1dc
!#define base06 #f4f1ed
!#define base07 #f9f7f3
!#define base08 #da4939
!#define base09 #cc7833
!#define base0A #ffc66d
!#define base0B #a5c261
!#define base0C #519f50
!#define base0D #6d9cbe
!#define base0E #b6b3eb
!#define base0F #bc9458

!*.foreground:   base05
!*.background:   base00
!*.cursorColor:  base05

!*.color0:       base00
!*.color1:       base08
!*.color2:       base0B
!*.color3:       base0A
!*.color4:       base0D
!*.color5:       base0E
!*.color6:       base0C
!*.color7:       base05

!*.color8:       base03
!*.color9:       base09
!*.color10:      base01
!*.color11:      base02
!*.color12:      base04
!*.color13:      base06
!*.color14:      base0F
!*.color15:      base07

! Color scheme "It's definitely not butter"
! http://dotshare.it/dots/990/
! special
*.foreground:   #747a81
*.background:   #151515
*.cursorColor:  #747a81

! black
*.color0:       #282a2e
*.color8:       #373b41

! red
*.color1:       #bd3737
*.color9:       #d64444

! green
*.color2:       #98a04b
*.color10:      #a3aa5e

! yellow
*.color3:       #e5a458
*.color11:      #d1aa68

! blue
*.color4:       #4b7598
*.color12:      #588fbd

! magenta
*.color5:       #b890c5
*.color13:      #d1b7d8

! cyan
*.color6:       #73ada5
*.color14:      #8abeb7

! white
*.color7:       #959595
*.color15:      #b9b9b9
