! ┌─────────────────────────────────────────┐
! │░█░█░█▀▄░█▀▀░█▀▀░█▀█░█░█░█▀▄░█▀▀░█▀▀░█▀▀░│
! │░▄▀▄░█▀▄░█▀▀░▀▀█░█░█░█░█░█▀▄░█░░░█▀▀░▀▀█░│
! │░▀░▀░▀░▀░▀▀▀░▀▀▀░▀▀▀░▀▀▀░▀░▀░▀▀▀░▀▀▀░▀▀▀░│
! └─────────────────────────────────────────┘
! Author : Roosta <mail@roosta.sh>
! Site   : http://dotfiles.roosta.sh
! Github : https://github.com/roosta
! ----------------------------------------

! ==== Fontselect ====
! --------------------

! Ttyp0 regular [lintilla, 1920x1080]
!#define FONT_NORMAL -uw-ttyp0-medium-r-normal--15-140-75-75-c-80-iso10646-1
!#define FONT_BOLD -uw-ttyp0-bold-r-normal--15-140-75-75-c-80-iso10646-1
!#define FONT_ITALIC -uw-ttyp0-medium-i-normal--15-140-75-75-c-80-iso10646-1
!#define FONT_BOLDITALIC xft:DejaVu\ Sans\ Mono\ for\ Powerline:style=Bold\ Oblique:pixelsize=10:antialias=1:hinting=1:hintstyle=3

! PragmataPro <lintilla: 1920x1080>
#define FONT_NORMAL xft: PragmataPro\ for\ Powerline:pixelsize=14:style=Regular, -uw-ttyp0-medium-r-normal--15-140-75-75-c-80-iso10646-1
#define FONT_BOLD xft: PragmataPro\ for\ Powerline:pixelsize=14:style=Bold
#define FONT_ITALIC xft: PragmataPro\ for\ Powerline:pixelsize=14:style=Italic
#define FONT_BOLDITALIC xft: PragmataPro\ for\ Powerline:pixelsize=14:style=Bold\ Italic

! Ttyp0 <allitnil: 1600x900>
!#define FONT_NORMAL -uw-ttyp0-medium-r-normal--17-160-75-75-c-90-iso10646-1
!#define FONT_BOLD -uw-ttyp0-bold-r-normal--17-160-75-75-c-90-iso10646-1
!#define FONT_ITALIC -uw-ttyp0-medium-i-normal--17-160-75-75-c-90-iso10646-1
!#define FONT_BOLDITALIC xft:DejaVu\ Sans\ Mono\ for\ Powerline:style=Bold\ Oblique:pixelsize=14:antialias=1:hinting=1:hintstyle=3

! PragmataPro <allitnil: 1600x900>
#define FONT_NORMAL xft: PragmataPro\ for\ Powerline:pixelsize=14:style=Regular, -uw-ttyp0-medium-r-normal--15-140-75-75-c-80-iso10646-1
#define FONT_BOLD xft: PragmataPro\ for\ Powerline:pixelsize=14:style=Bold
#define FONT_ITALIC xft: PragmataPro\ for\ Powerline:pixelsize=14:style=Italic
#define FONT_BOLDITALIC xft: PragmataPro\ for\ Powerline:pixelsize=14:style=Bold\ Italic

! define xft fallbacks
Xft.antialias: 1
Xft.autohint: 0
Xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

URxvt.font: FONT_NORMAL
URxvt.imFont: FONT_NORMAL
URxvt.boldFont: FONT_BOLD
URxvt.italicFont: FONT_ITALIC
URxvt.boldItalicFont: FONT_BOLDITALIC

!URxvt*letterSpace: -1
URxvt*saveLines: 12000
URxvt*scrollBar: false

!URL matching, use alt-u to enter select mode
URxvt.perl-ext: default,url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.rend.0: Uline Bold fg5

! fade unfocused term
URxvt.fading: 30
!URxvt.fadeColor: #448487

! Meta (Alt) + keypress to set the 8th bit
URxvt*meta8: true

! scroll single lines with shift+up/down
! http://unix.stackexchange.com/questions/44756/urxvt-scroll-just-one-line
URxvt.keysym.C-Page_Up: command:\033]720;1\007
URxvt.keysym.C-Page_Down: command:\033]721;1\007

! fix pager scrolling issue
! https://wiki.archlinux.org/index.php/Rxvt-unicode#Scrollback_buffer_in_secondary_screen
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

URxvt*externalBorder: 0
URxvt*internalBorder: 0

! emulate XTerm for proper recognition of key combinations in Vim
!URxvt.keysym.Up              : \033[A  !breaks arrow keys in Vim
!URxvt.keysym.Down            : \033[B  !breaks arrow keys in Vim
!URxvt.keysym.Right           : \033[C  !breaks arrow keys in Vim
!URxvt.keysym.Left            : \033[D  !breaks arrow keys in Vim
!URxvt.keysym.Page_Up         : \033[5~ !breaks scrolling in Rxvt
!URxvt.keysym.Page_Down       : \033[6~ !breaks scrolling in Rxvt
!URxvt.keysym.Home            : \033[H  !breaks navigation in Vim
!URxvt.keysym.End             : \033[F  !breaks navigation in Vim
URxvt.keysym.S-Up             : \033[1;2A
URxvt.keysym.S-Down           : \033[1;2B
URxvt.keysym.S-Right          : \033[1;2C
URxvt.keysym.S-Left           : \033[1;2D
!URxvt.keysym.S-Page_Up       : captured by terminal for scrolling
!URxvt.keysym.S-Page_Down     : captured by terminal for scrolling
URxvt.keysym.S-Home           : \033[1;2H
URxvt.keysym.S-End            : \033[1;2F
URxvt.keysym.M-Up             : \033[1;3A
URxvt.keysym.M-Down           : \033[1;3B
URxvt.keysym.M-Right          : \033[1;3C
URxvt.keysym.M-Left           : \033[1;3D
URxvt.keysym.M-Page_Up        : \033[5;3~
URxvt.keysym.M-Page_Down      : \033[6;3~
URxvt.keysym.M-Home           : \033[1;3H
URxvt.keysym.M-End            : \033[1;3F
URxvt.keysym.M-S-Up           : \033[1;4A
URxvt.keysym.M-S-Down         : \033[1;4B
URxvt.keysym.M-S-Right        : \033[1;4C
URxvt.keysym.M-S-Left         : \033[1;4D
!URxvt.keysym.M-S-Page_Up     : seen as Rxvt.keysym.S-Page_Up
!URxvt.keysym.M-S-Page_Down   : seen as Rxvt.keysym.S-Page_Down
URxvt.keysym.M-S-Home         : \033[1;4H
URxvt.keysym.M-S-End          : \033[1;4F
URxvt.keysym.C-Up             : \033[1;5A
URxvt.keysym.C-Down           : \033[1;5B
URxvt.keysym.C-Right          : \033[1;5C
URxvt.keysym.C-Left           : \033[1;5D
!URxvt.keysym.C-Page_Up        : \033[5;5~
!URxvt.keysym.C-Page_Down      : \033[6;5~
URxvt.keysym.C-Home           : \033[1;5H
URxvt.keysym.C-End            : \033[1;5F
URxvt.keysym.C-S-Up           : \033[1;6A
URxvt.keysym.C-S-Down         : \033[1;6B
URxvt.keysym.C-S-Right        : \033[1;6C
URxvt.keysym.C-S-Left         : \033[1;6D
!URxvt.keysym.C-S-Page_Up     : seen as Rxvt.keysym.S-Page_Up
!URxvt.keysym.C-S-Page_Down   : seen as Rxvt.keysym.S-Page_Down
URxvt.keysym.C-S-Home         : \033[1;6H
URxvt.keysym.C-S-End          : \033[1;6F
URxvt.keysym.M-C-Up           : \033[1;7A
URxvt.keysym.M-C-Down         : \033[1;7B
URxvt.keysym.M-C-Right        : \033[1;7C
URxvt.keysym.M-C-Left         : \033[1;7D
URxvt.keysym.M-C-Page_Up      : \033[5;7~
URxvt.keysym.M-C-Page_Down    : \033[6;7~
URxvt.keysym.M-C-Home         : \033[1;7H
URxvt.keysym.M-C-End          : \033[1;7F
URxvt.keysym.M-C-S-Up         : \033[1;8A
URxvt.keysym.M-C-S-Down       : \033[1;8B
URxvt.keysym.M-C-S-Right      : \033[1;8C
URxvt.keysym.M-C-S-Left       : \033[1;8D
!URxvt.keysym.M-C-S-Page_Up   : seen as Rxvt.keysym.S-Page_Up
!URxvt.keysym.M-C-S-Page_Down : seen as Rxvt.keysym.S-Page_Down
URxvt.keysym.M-C-S-Home       : \033[1;8H
URxvt.keysym.M-C-S-End        : \033[1;8F! include colors. Keep separated to change easily

#include "/home/daniel/.Xcolors/gruvbox-dark.xresources"
#include "/home/daniel/.Xcolors/gruvbox-urxvt256.xresources"

! Include rofi separatly
#include "/home/daniel/.rofi.xresources"

