! ┌─────────────────────────────────────────┐
! │░█░█░█▀▄░█▀▀░█▀▀░█▀█░█░█░█▀▄░█▀▀░█▀▀░█▀▀░│
! │░▄▀▄░█▀▄░█▀▀░▀▀█░█░█░█░█░█▀▄░█░░░█▀▀░▀▀█░│
! │░▀░▀░▀░▀░▀▀▀░▀▀▀░▀▀▀░▀▀▀░▀░▀░▀▀▀░▀▀▀░▀▀▀░│
! └─────────────────────────────────────────┘
! Author : Roosta <contact@roosta.sh>
! Site   : http://dotfiles.roosta.sh
! Github : https://github.com/roosta
! ----------------------------------------

! ==== Fontselect ====
! --------------------

! Ttyp0 regular [lintilla, 1920x1080]
#define FONT_NORMAL -uw-ttyp0-medium-r-normal--15-140-75-75-c-80-iso10646-1
#define FONT_BOLD -uw-ttyp0-bold-r-normal--15-140-75-75-c-80-iso10646-1 
#define FONT_ITALIC -uw-ttyp0-medium-i-normal--15-140-75-75-c-80-iso10646-1
#define FONT_BOLDITALIC xft:DejaVu\ Sans\ Mono\ for\ Powerline:style=Bold\ Oblique:pixelsize=10:antialias=1:hinting=1:hintstyle=3
#define FONT_BOLDITALIC xft:DejaVu\ Sans\ Mono:style=Book:pixelsize=10:antialias=1:hinting=1:hintstyle=3

! Ttyp0 laptop sizes [allitnil, 1600x900]
!#define FONT_NORMAL -uw-ttyp0-medium-r-normal--16-150-75-75-c-80-iso10646-1
!#define FONT_BOLD -uw-ttyp0-bold-r-normal--16-150-75-75-c-80-iso10646-1 
!#define FONT_ITALIC -uw-ttyp0-medium-i-normal--16-150-75-75-c-80-iso10646-1
!#define FONT_BOLDITALIC xft:DejaVu\ Sans\ Mono\ for\ Powerline:style=Bold\ Oblique:pixelsize=12:antialias=1:hinting=1:hintstyle=3

! PragmataPro
!#define FONT_NORMAL: xft:Essential\ PragmataPro:italic:pixelsize=10
!#define FONT_BOLDITALIC xft:Essential\ PragmataPro:Bold\ Italic:pixelsize=10

! gohu
!#define FONT_NORMAL -gohu-gohufont-medium-r-*--14-100-*-*-*-*-iso10646-1
!#define FONT_BOLD -gohu-gohufont-medium-r-*--14-100-*-*-*-*-iso10646-1 
!#define FONT_ITALIC -gohu-gohufont-bold-r-*--14-100-*-*-*-*-iso10646-1

! define xft fallbacks
Xft.antialias: 1
Xft.autohint: 0
Xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

URxvt.font: FONT_NORMAL
URxvt.imFont: FONT_NORMAL
URxvt.boldFont: FONT_BOLD
URxvt.italicFont: FONT_ITALIC
URxvt.boldItalicFont: FONT_BOLDITALIC

!URxvt*letterSpace: -1
URxvt*saveLines: 12000
URxvt*scrollBar: false

!URL matching, use alt-u to enter select mode
URxvt.perl-ext: default,url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.rend.0: Uline Bold fg5

! fade unfocused term
URxvt*fading: 30

! Meta (Alt) + keypress to set the 8th bit
URxvt*meta8: true

! scroll single lines with shift+up/down
! http://unix.stackexchange.com/questions/44756/urxvt-scroll-just-one-line
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007

! fix pager scrolling issue
! https://wiki.archlinux.org/index.php/Rxvt-unicode#Scrollback_buffer_in_secondary_screen
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

#include "/home/daniel/.Xcolors/sweetlove.Xresources"

