! ┌─────────────────────────────────────────┐
! │░█░█░█▀▄░█▀▀░█▀▀░█▀█░█░█░█▀▄░█▀▀░█▀▀░█▀▀░│
! │░▄▀▄░█▀▄░█▀▀░▀▀█░█░█░█░█░█▀▄░█░░░█▀▀░▀▀█░│
! │░▀░▀░▀░▀░▀▀▀░▀▀▀░▀▀▀░▀▀▀░▀░▀░▀▀▀░▀▀▀░▀▀▀░│
! └─────────────────────────────────────────┘
! Author : Roosta <mail@roosta.sh>
! Site   : http://dotfiles.roosta.sh
! Github : https://github.com/roosta
! ----------------------------------------

#include "/home/roosta/.fonts.xresources"
#include "/home/roosta/.urxvt.xresources"
#include "/home/roosta/.rofi.xresources"
#include "/home/roosta/.xscreensaver.xresources"

#include "/home/roosta/colors/xcolors/gruvbox-dark.xresources"
!#include "/home/roosta/colors/xcolors/gruvbox-urxvt256.xresources"

!Xcursor.theme: Numix-Cursor

