snippet vuexbase
export const state = () => ({
})

export const getters = {
}

export const mutations = {
}

export const actions = {
}
endsnippet

snippet dbg
console.log("${1}: ", ${2});
endsnippet

snippet dbgv
console.log("${1}: ", ${1});
endsnippet
