[Desktop Entry]
Type=Application
Name=Chatbox Wayland
Comment=A desktop client for multiple cutting-edge AI models
Exec=Chatbox --ozone-platform-hint=auto
X-AppImage-Version=1.9.5
Icon=xyz.chatboxapp.app
Terminal=false
Categories=Development;
