{;; either :viins or :emacs. Defaults to :emacs
 :key-map :viins

 ;; either :light-screen-theme or :dark-screen-theme
 :color-theme :dark-screen-theme

 ;; boolean, whether to syntax highlight or not. Defaults to true
 :highlight true

 ;; boolean, whether to complete on tab. Defaults to true
 :completion true

 ;; boolean, whether to display function docs as you type.
 ;; Defaults to true
 :eldoc true

 ;; boolean, whether to auto indent code on newline. Defaults to true
 :indent true

 ; boolean, rebinds root *out* during read to protect linereader
 ; Defaults to true
 :redirect-output true}
