[user]
  email = mail@roosta.sh
  user = roosta
  name = Daniel Berg
[core]
  editor = vim
  excludesfile = ~/.globalignore
[push]
  default = simple
[credential]
	helper = cache --timeout=3600
[diff]
	tool = vimdiff
[alias]
  s         = status
  b         = branch
  c         = commit
  a         = add -A
  d         = diff
  dc        = diff --cached
  wd        = diff --word-diff
  precommit = diff --cached --diff-algorithm=minimal -w
  logs      = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  logd      = log --graph --patch
  logl      = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d %Cgreen%cr%Creset - %an%Creset%n%s %Creset%n%C(white)%b%Creset' --decorate --numstat --summary
  branches  = branch -a
  tags      = tag
  stashes   = stash list
  unstage   = reset HEAD --
  discard   = checkout -- .
  uncommit  = reset --mixed HEAD~
  amend     = commit --amend
	last      = cat-file commit HEAD
  ctags     = !.git/hooks/ctags
  last-sha  = rev-parse --short HEAD
[init]
  templatedir = ~/.git_template
[merge]
	tool = vimdiff
[commit]
	verbose = true
[include]
  path = ~/.gitconfig.local
[github]
	user = roosta
